RewriteEngine On
Options -Indexes
RewriteBase /.

# If the requested file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Remove trailing slashes
RewriteRule ^(.*)/$ $1 [L,R=301]

# Send all requests to index.php
RewriteRule ^(.*)$ index.php [L,QSA] 